
/* ----------------------------------------
    Entypo (ícones)
---------------------------------------- */

@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  display: inline-block;
  width: 12px;
  height: 20px;
  margin-right: 5px;
  text-align: center;
  font-family: 'entypo', sans-serif;
}

span[class*="entypo-"] {
  display: inline;
  position: relative;
  font-size: 1.6em;
  right: 5px;
}

.entypo-calendar{
  color: #721204;
}

.icon {
  color: #721204;
  font-size: 20px;
  left: 5px;
}

/* ----------------------------------------
    Fim Entypo
---------------------------------------- */

/* ----------------------------------------
    Accordion Sacramento
---------------------------------------- */
.panel-heading.panel-head-sac {
  color: #fff;
  background-color: #721204;
}

.panel-sac {
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.link-sac:focus, .link-sac:hover {
  text-decoration: none;
}
/* ----------------------------------------
    Fim Accordion Sacramento
---------------------------------------- */

/* ----------------------------------------
    Imagens e logo
---------------------------------------- */

.thumbnail {
  background-color: #ddd;
}

.col-md-3.foto_view {
  padding: 0;
}

.img_view {
  margin-bottom: 5px;
}

.img_view2 { 
  height: 250px;
}

.fotoSacramentoPrincipal {
  margin-right: 5px;
  margin-bottom: -10px;
}

.class_img {
  width: 100%;
  height: 70%;
}

.img_sacramento {
  height: 280px;
}

.img_evento {
  height: 350px;
}

.img_com {
  width: 100%;  
  height: 280px;
}

.img_padres {
  height: 400px;
}

.big {
  font-size: 1.5em;
}

.logo {
  width: 200px;
  height: 200px;
}

.logo-media {
  width: 135px;
}


.logo-min {
  width: 60px;
}

.class_img {
  border-bottom: 1px solid #ccc;
}

.saojoao {
  margin-top: -200px;
}

.opacity {
  transition-duration: 500ms;
}

.opacity:hover {
  filter: alpha(opacity:0.7); 
  KHTMLOpacity: 0.7; 
  MozOpacity: 0.7; 
  -khtml-opacity:.70; 
  -ms-filter:"alpha(opacity=70)"; 
  -moz-opacity:.70; 
  filter:alpha(opacity=70); 
  opacity:.70;
  transition-duration: 500ms;
}

/* ----------------------------------------
    Fim Imagens e logo
---------------------------------------- */

/* ----------------------------------------
    NavBar Site
---------------------------------------- */

.navbar-brand {
  height: auto;
}

.navbar-brand.media {
  padding: 0;
}

.navbar-brand.min {
  padding: 5px;
}

.navbar-nav {
  padding: 0;
  font-size: 1.3em;
  background-color: #721204; 
}

.paroquia {
  font-size: 40px;
  color: #f8f8f8;
  margin-top: 6px;
  text-align: center;
  margin-right: 150px;
  /*margin-left: 12%; se não centralizar*/
  margin-bottom: 25px;
  font-family: "Ar Berkley" !important;
}

.navbar-nav.large {
  padding: 15px;
  font-size: 1.3em;
  background-color: #DAA82D; 
  margin-left: 0; 
}

.navbar-nav.center {
  padding: 0px;
}

.navbar-nav > li > a {
  color: #f8f8f8;
}

.navbar-default .navbar-nav > li > a {
    color: #f8f8f8;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #f8f8f8;
    background-color: #e7e7e7;
}

.navbar-nav > li.active > a {
  background-color: #DAA82D !important;
  border-top: 3px solid #f8f8f8;
  padding-top: 12px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f8f8f8;
    background-color: transparent;
}

.navbar-default2 {
    background-color: #fff;
    border-color: #DAA82D;
}

.navbar-nav.media-top {
  margin-top: -20px;
}

.no-padding {
    padding: 10px 10px 0 10px;
    background-color: #DAA82D; 
}

.nav_scroll {
  font-size: 12px;
  font-variant: bold;
}

.nav_site {
  height: 200px;  
  font-size: 14px;
  background: url(../img/santuario.png);
  background-position-x: 150px;
  background-position-y: -435px;
}

.nav_site2 {
  width: 100%;
  font-size: 12px;
  background-color: #DAA82D;
}

.nav_large {
  background-color: #DAA82D;
  display: none;
}

.nav_site3 {
  height: 150px;
  font-size: 14px;
  background-color: #DAA82D;
}

.navbar-toggle {
  margin-top: 25px;
}

/*nav_large*/

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #DAA82D;
    background-color: #f8f8f8;
}

.navbar-nav > li > a:focus > a {
  color: #DAA82D !important;
  background-color: #f8f8f8 !important;
}

.navbar-nav > li > a:hover {
  color: #DAA82D !important;
  background-color: #f8f8f8 !important;
}

.caret > a:focus{
  color: #DAA82D;
}


/*nav_site3*/

.navbar-default .navbar-nav.media-top > .open > a, .navbar-default .navbar-nav.media-top > .open > a:hover, .navbar-default .navbar-nav.media-top > .open > a:focus {
    color: #721204;
    background-color: #f8f8f8;
}

.navbar-nav.media-top > li > a:focus > a {
  color: #721204 !important;
  background-color: #f8f8f8 !important;
}

.navbar-nav.media-top > li > a:hover {
  color: #721204 !important;
  background-color: #f8f8f8 !important;
}

.caret > a:focus{
  color: #721204;
}

/* ----------------------------------------
    Fim NavBar Site
---------------------------------------- */

/* ----------------------------------------
    NavBar Admin
---------------------------------------- */

.nav_admin {
  background-color: #337AB7;
}

.navbar-nav.navbar-right  {
  padding: 15px;
  font-size: 1.3em;
  background-color: #337AB7;
}

.navbar-nav.navbar-right > li > a:hover {
    color: #337AB7 !important;
    background-color: #f8f8f8 !important;
}

/* ----------------------------------------
    Fim NavBar Admin
---------------------------------------- */

/* ----------------------------------------
    Dropdown-menu
---------------------------------------- */

/*nav_large*/
.dropdown-menu {
  background-color: #DAA82D;
}

.dropdown-menu > li > a {
  color: #f8f8f8;
  font-size: 16px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #DAA82D;
    text-decoration: none;
    background-color: #f8f8f8;
}


/*nav_site3*/
.dropdown-menu.navbarRed {
  background-color: #721204;
}

.dropdown-menu.navbarRed > li > a {
  color: #f8f8f8;
  font-size: 16px;
}

.dropdown-menu.navbarRed > li > a:hover, .dropdown-menu.navbarRed > li > a:focus {
    color: #721204;
    text-decoration: none;
    background-color: #f8f8f8;
}

/*ul.nav li.dropdown:hover ul.dropdown-menu { 
    display: block; 
}*/

/* ----------------------------------------
    Fim dropdown-menu
---------------------------------------- */

/* ----------------------------------------
    scrollUp
---------------------------------------- */

/* Image style */
#scrollUp {
    background-image: url(../img/top2.png) ;
    bottom: 20px;
    right: 20px;
    width: 38px;    /* Width of image */
    height: 38px;   /* Height of image */
}

/* ----------------------------------------
    Fim scrollUp
---------------------------------------- */

/* ----------------------------------------
    Outros
---------------------------------------- */

.marginMenuCom {
  margin-right: 15px; 
  margin-left: 15px;
}

body {
  font-family: Bebas Neue !important;
}

.hr {
  border-top: 2px solid #DAA82D;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hr2 {
  border-top: 2px solid #DAA82D;
  margin-top: 5px;
  margin-bottom: 10px;
}

.h3 {
  color: #721204;
  display: inline;
  padding-left: 5px;
}

.h2 {
  color: #721204;
  display: inline;
  padding-left: 5px;
}

.h3jornal {
  color: #721204;
  display: inline;
  padding-left: 10px;
}

p {
  background-color: #dddddd !important;
}

.pFooter {
  background-color: #721204 !important;
}

.pNavbar {
  background-color: #DAA82D !important;
  font-family: 'Ar Berkley' !important;
  font-size: 50px;
}

@font-face {
  font-family: 'Ar Berkley';
  src: url("../fonts/ARBERKLEY.ttf");
}

.pRadio {
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  color: #222;
}

.espacoTopo {
  padding-top: 10px;
}

.espacoTopo2 {
  padding-top: 10px;
}

.espacoRadio {
  margin-top: -30px;
}

.paddingRadio {
  margin-bottom: 50px;
}

.margin {
  margin-top: 200px;
}

.margin_admin {
  margin-top: 100px;
}

.margin_semSlide {
  margin-top: 150px;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

.cinza {
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  color: #222;
}

.btnTodosEvHome {
  color: #f8f8f8;
  background-color: #DAA82D;
  margin-top: 2%;
  font-size: 20px;
  margin-bottom: 3%;
}

.btnTodosEvHome:hover {
  color: #DAA82D;
  background-color: #f8f8f8;
  border-color: #DAA82D;
}

.btnTodosEv {
  color: #f8f8f8;
  background-color: #DAA82D;
  margin-top: 2%;
  font-size: 20px;
  float: right;
}

.btnTodosEv:hover {
  color: #DAA82D;
  background-color: #f8f8f8;
  border-color: #DAA82D;
}

.linkTitulos {
  text-decoration: none !important;
}

.actions2 {
  float: right;
  margin-right: 200px;
}

.com {
  margin-bottom: -5px;
}

.txtSac {
  font-size: 20px; 
  background-color: #f8f8f8 !important;
}


/* ----------------------------------------
    Fim Outros
---------------------------------------- */

/* ----------------------------------------
    Form Contato
---------------------------------------- */

.panel-title {
  font-size: 22px;
}

/* ----------------------------------------
    Fim Contato
---------------------------------------- */

/* ----------------------------------------
    Footer
---------------------------------------- */

#foot {
  background-color: #721204;
  padding: 40px 0 10px 0;
}

#footerRow {
  color: #f8f8f8;
  border-top: solid 2px;
  padding-top: 15px;
}

/* ----------------------------------------
    Fim Footer
---------------------------------------- */


/* ----------------------------------------
  Início Css para links externos
---------------------------------------- */

.linksExternos {
  margin-bottom: 20px;
}

.arqRodape {
  position: relative;
  left: 300px;
  margin-bottom: 30px;
  margin-top: -15px;
}

.jornal {
  margin-bottom: 10px;
}

.btnTodosPdf {
  color: #f8f8f8;
  background-color: #0098AF;
  border-color: #0098AF;
  font-size: 12px;
  float: right;
}

.btnTodosPdf:hover {
  color: #0098AF;
  background-color: #f8f8f8;
  border-color: #0098AF;
}

.espacoPdf {
  margin-bottom: 40px;
}

.margin_radio {
  margin-bottom: 60px;
}

/* ----------------------------------------
    Fim links externos
---------------------------------------- */

/* ----------------------------------------
  Início Css para dizimo e arquidiocese
---------------------------------------- */

p.txtDizimoHome {
  color: #222;
  font-size: 16px;
  font-style: italic;
}

p.txtDizimo {
  color: #222;
  font-size: 16px;
}

.hrDizimo {
  border-top: 2px solid #DAA82D;
  margin-top: 5px;
  margin-bottom: 20px;
}

.fotoDizimo {
  margin-bottom: 10px;
}

.teste {
  left: 80px;
}

.linkDizimo {
  float: right;
  margin-right: 15px;
  color: #f8f8f8;
  background-color: #721204;
  font-size: 14px;
}

.linkDizimo:hover {
  color: #721204;
  background-color: #f8f8f8;
  border-color: #721204;
}

.marginTop {
  margin-top: 50px;
}

.espacoDizimo {
  margin-top: 45px;
}

/* ----------------------------------------
    Fim dizimo e arquidiocese
---------------------------------------- */


/* ----------------------------------------
  Início Css para cards
---------------------------------------- */

.divNoticia {
  margin-bottom: 20px;
  margin-left: 48px;
  margin-right: 0px;
  width: 28%;
}

.divNoticia.p {
  padding-right: 0;
  padding-left: 0;
}

.noticia {
  background-color: white;
  overflow: hidden;
  box-shadow: 1px 1px 5px #424242;
  height: 300px;
  transition: all 0.5s ease 0s;
}

.noticia:hover {
  transform: scale(1.05);
  z-index: 10;
  transition-duration: 500ms;
}

.noticia.agenda{
  padding-bottom: 0px;
  height: 350px;
}

.noticia_foto:hover {
  text-decoration: none;
}

.menor {
  color: #424242; 
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.menor_detalhe {
  font-size: 18px;
  color: #721204;
}

/* ----------------------------------------
  Fim Css para cards
---------------------------------------- */

/* ----------------------------------------
  Início Css txtEvento
---------------------------------------- */
.fotoEventoPrincipal {
  margin-right: 5px;
  margin-bottom: 20px;
}

.txtEvento {
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px; 
}

/* ----------------------------------------
    Fim Css txtEvento
---------------------------------------- */

/* ----------------------------------------
  Iício Css para menuComunidades
---------------------------------------- */

div#cidades.container {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
  background-color: #fff;
  box-shadow: 1px 1px 5px #888888; 
  padding: 30px 10px 5px 10px;
}

.cresce {
  transition-duration: 500ms;
}

.cresce:hover {
  transform: scale(1.03);
  z-index: 10;
  transition-duration: 500ms;
}

.listMenu {  
  color: #555;
  padding-bottom: 5px;
  padding-right: 4px;
  margin-left: 0;
  border-bottom: 1px solid #d4d4d4;
  transition-duration: 200ms;
} 

.listMenu > span {
  padding-bottom: 35px;
}

.listMenu:hover {
  text-decoration: none;
  color: #721204;
  box-shadow: 0 -3px 0 0 #721204 inset;
  border-bottom: 1px solid #721204;
}

.listMenu.active {
  text-decoration: none;
  color: #51A8B1;
  box-shadow: 0 -2px 0 0 #51A8B1 inset;
  border-bottom: 1px solid #51A8B1;
}

/* ----------------------------------------
    Fim Css menuComunidades
---------------------------------------- */

/* ----------------------------------------
    Início Css para searchbox
---------------------------------------- */

input.search-text {
  color: #222;
  position: relative;
  z-index: 5;
  transition: z-index 0.8s, width 0.5s, background 0.3s ease, border 0.3s;
  height: 35px;
  width: 0;
  margin: 7px 10px 0 -20px;
  padding: 5px 0 10px 40px;
  box-sizing: border-box;
  font-size: 16px;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid transparent;
  background: url(../img/search.png) no-repeat left 9px center transparent;
  background-size: 24px;
}

input.search-text:focus {
  z-index:3; 
  width: 250px;
  border: 1px solid #cccccc;  
  background-color: #cccccc;
  outline: none;
  cursor: auto;
  padding-right: 10px;
}

input.search-submit {
  position: relative;
  z-index: 4;
  border: 0;
  outline: 0;
  border-radius: 30px;
  cursor: pointer; 
  background: none;
  margin-left: 5px;
}

input.search-text::-webkit-search-cancel-button {
  cursor: pointer;
}

/* ----------------------------------------
    Fim Css para searchbox
---------------------------------------- */

/* ----------------------------------------
    CSS para screen específica
---------------------------------------- */

@media screen and (max-width: 1600px) {
  .noticia.agenda {
    height: 290px;
  }

  .img_evento {
    height: 270px;
  }

  .img_view2 {
    height: 200px; 
  }
}

@media screen and (max-width: 1400px) {

  .navbar-nav.center {
    padding: 0px;
    margin-left: 0%;
  }

  .divNoticia {
    width: 27%;
  }

  .noticia {
    height: 250px;
    padding-bottom: 20px;
  }

  .menor {
    font-size: 18px;
  }

  .menor_detalhe {
    font-size: 15px;
  }

  .img_evento {
    height: 230px;
  }

  .img_view2 {
    height: 170px; 
  }

  .img_com {
    height: 230px;
  }

  .img_padres {
    height: 300px;
  }

  .img_sacramento {
    height: 220px;
  }

  .margin_radio {
    margin-bottom: 50px;
  }

  .arqRodape {
    margin-top: 3px;
  }

}

@media screen and (max-width: 1200px){

  .divNoticia {
    margin-bottom: 20px;
    margin-left: 35px;
    margin-right: 0px;
    width: 28%;
  }

  .noticia {
    width: 80%;
    margin-left: 10%;
  }

  .noticia.agenda {
    height: 250px;
    width: 100%;
    margin-left: 0;
  }

  .menor {
    font-size: 16px;
  }

  .menor_detalhe {
    font-size: 14px;
  }

  .cinza {
    font-size: 18px;
  }

  .img_com {
    height: 180px;
  }

  .img_evento {
    height: 200px;
  }

  .img_view2 {
    height: 140px; 
  }

  .img_padres {
    height: 270px;
  }

  .img_sacramento {
    height: 200px;
  }

  .arqRodape {
    margin-top: 3px;
  }

  p.pPadre {
    font-size: 22px !important;
  }
}

@media screen and (max-width: 1100px){
 
  span[class*="entypo-"] {
    display: inline;
    position: relative;
    font-size: 1.6em;
    right: 15px;
  }

  .navbar-nav.center {
    padding: 0px;
    margin-left: 0%;
  }

  .menor {
    font-size: 18px;
    margin-top: 20px;
  }

  .menor_detalhe {
    font-size: 18px;
    margin-top: 10px;
  }

  .noticia {
    width: 100%;
    margin-left: 0;
  } 

  .noticia.agenda {
    height: 280px;
  } 

  .divNoticia.center {
    text-align: center;
    left: 25%;
  }

  .divNoticia {
    width: 33%;
    margin-left: 0px;
  }

  .btnTodosEvHome {
    color: #f8f8f8;
    background-color: #DAA82D;
    margin-top: 2%;
    font-size: 20px;
  }

  input.search-text:focus {
    z-index:3; 
    width: 150px;
    border: 1px solid #721204;
    outline: none;
    cursor:auto;
    padding-right: 10px;
  }

  /*ajustar rodapé*/
  #footerRow {
    color: #f8f8f8;
    border-top: solid 2px;
    margin-top: 100px;
  }

  .arqRodape {
    left: 100px;
    margin-bottom: 20px;
    margin-top: -10px;
  }

  .linksExternos.fixo {
    height: 100px;
  }

  .img_com {
    height: 300px;
  }

  .nome_com {
    margin-top: 30px;
  }

  .espacoRadio {
    margin-top: 4px;
  }
}

@media screen and (max-width: 900px){
  .saoJoao {
    display: none;
  }
}

@media screen and (max-width: 769px){

  .margin_semSlide {
    margin-top: 60px;
  }

  .btnTodosEv {
    float: initial;
    margin-bottom: -30px;
  }

  .nav_site3 {
    display: none;
  }

  .nav_large {
    display: block;
  }

  .logo {
    width: 109px;
  }

  .img_com {
    padding-right: 100px;
    padding-left: 100px;
  }

  .img_evento {
    height: 190px;
  }

  .navbar-nav.center {
    padding: 10px;
    margin-left: -10%;
  }

  .nav_site {
    height: 120px;
    font-size: 14px;
    background: url(../img/santuario5.png);
  }

  .navbar-nav > li.active > a {
    width: 100%;
    background-color: #DAA82D;
    border-top: 0px solid #f8f8f8;
  }

  .espacoTopo {
    padding-top: 0px;
  }

  .dropdown-menu > li > a {
    color: #f8f8f8 !important;
  }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
      color: #DAA82D !important;
      text-decoration: none;
      background-color: #f8f8f8 !important;
  }

  .margin {
    margin-top: 150px;
  }

  .divNoticia.center {
    text-align: center;
    left: 0;
  }

  .divNoticia {
    padding-right: 15%;
    padding-left: 15%;
    width: 80%;
    margin-left: 70px;
  }

  .noticia {
    width: 70%;
    margin-left: 15%;    
  }

  .noticia.agenda {
    height: 430px;
  }

  .class_img {
    height: 78%;
  }

  .linksExternos.fixo {
    height: 150px;
  }

  .menor {
    margin-top: 30px;
    font-size: 22px;
  }

  .menor_detalhe {
    margin-top: 10px;
    font-size: 18px;
  }

  .marginTop {
    margin-top: 200px;
  }

  #footerRow {
    margin-top: 50px;
  }

  input.search-text {
    color: #fff;
    position: relative;
    z-index: 5;
    transition: z-index 0.8s, width 0.5s, background 0.3s ease, border 0.3s;
    height: 35px;
    width: 0;
    margin: 2px 1px 0 -15px;
    padding: 5px 0 10px 40px;
    box-sizing: border-box;
    font-size: 16px;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid transparent;
    /*background: url(https://dl.dropboxusercontent.com/u/6624374/opensource-projects/codepen/search.svg) no-repeat left 9px center transparent;*/
    background: url(../img/search.png) no-repeat left 9px center transparent;
    background-size:24px;
  }

  input.search-text:focus {
    z-index: 3; 
    width: 95%;
    border: 1px solid #721204;  
    background-color: #721204;
    outline: none;
    cursor: auto;
    padding-right: 0;
  }

  .pdfDizimo {
    padding-left: 40%;
    padding-right: 40%;
  }

  .espacoRadio {
    margin-top: -20px;
  }

  .arqRodape {
    width: 30%;
    left: 35%;
  }

  div#cidades.container {
    margin-bottom: 20px;
    text-align: center;
  }

  .marginMenuCom {
    margin-right: 25%; 
    margin-left: 25%;
  }

  .pastorais {
    margin-bottom: -40px;
  }

  .txtDizimoHome {
    margin-top: -40px;
  }
}

@media screen and (max-width: 480px){

  .noticia {
    width: 100%;
    margin-left: 0%;
  }

  .noticia.agenda {
    height: 320px;
  }

  .divNoticia {
    padding-right: 15%;
    padding-left: 15%;
    width: 100%;
    margin-left: 0px;
  }

  .menor {
    margin-top: 15px;
    font-size: 18px;
  }

  .menor_detalhe {
    margin-top: 5px;
    font-size: 16px;
  }

  .linksExternos.fixo {
    height: 100px;
  }

  .marginMenuCom {
    margin-right: 15%; 
    margin-left: 15%;
  }

  .img_com {
    padding: 0;
  }

  .img_evento {
    height: 140px;
  }

  .img_view2 {
    height: 110px;
  }

  .img_padres {
    height: 240px;
  }

  .img_sacramento {
    height: 120px;
  }

  .imgDizimoHome {
    padding: 0;
  }

  .fotoDizimo {
    padding: 0;
  }

  .txtDizimoHome {
    padding: 0;
  } 

  .arqRodape {
    width: 38%;
    left: 31%;
  }

  #footerRow{
    margin-top: 30px;
  }
}

@media screen and (max-width: 360px){

  .divNoticia {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin-left: 0px;
  }

  .menor {
    margin-top: 15px;
    font-size: 18px;
  }

  .menor_detalhe {
    margin-top: 5px;
    font-size: 16px;
  }

  .noticia.agenda {
    height: 300px;    
  }

  .imgDizimoHome {
    padding: 0;
  }

  .fotoDizimo {
    padding: 0;
  }

  .txtDizimoHome {
    padding: 0;
  }

  .linksExternos.fixo {
    height: 80px;
  }

  .arqRodape {
    width: 55%;
    left: 23%;
  }

  .marginMenuCom {
    margin-right: 15px; 
    margin-left: 15px;
  }

  .img_com {
    height: 230px;
  }

  .img_evento {
    height: 100px;
  }

  .img_view2 {
    height: 80px;
  }

  .img_padres {
    height: 150px;
  }

  .img_sacramento {
    height: 90px;
  }

  .sacramentosMargin {
    margin-bottom: -30px;
  }

  p.pPadre {
    font-size: 20px !important;
  }
}

/* ----------------------------------------
    Fim CSS para screen específica
---------------------------------------- */