/* ----------------------------------------
    Entypo (ícones)
---------------------------------------- */

@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  display: inline-block;
  width: 12px;
  height: 20px;
  margin-right: 5px;
  text-align: center;
  font-family: 'entypo', sans-serif;
}

span[class*="entypo-"] {
  display: inline;
  position: relative;
  font-size: 1.6em;
  right: 5px;
}

.entypo-calendar{
  color: #721204;
}

.icon {
  color: #721204;
  font-size: 20px;
  left: 5px;
}

/* ----------------------------------------
    Fim Entypo
---------------------------------------- */

/* ----------------------------------------
    Imagens e logo
---------------------------------------- */

.col-md-3.foto_view {
	padding: 0;
}

.img_view {
	margin-bottom: 5px;
}

.img_view2 {
	margin-bottom: 5px;
	height: 200px;
}

.big {
	font-size: 1.5em;
}

.logo {
	width: 155px;
}

.logo-min {
	width: 60px;
}

.class_img {
  border-bottom: 1px solid #ccc;
}

/* ----------------------------------------
    Fim Imagens e logo
---------------------------------------- */

/* ----------------------------------------
    NavBar Site
---------------------------------------- */

.navbar-brand {
	height: auto;
}

.navbar-brand.min {
	padding: 5px;
}

.navbar-nav {
	padding: 15px;
	font-size: 1.3em;
	background-color: #DAA82D;	
}

.navbar-nav.center {
	padding: 0px;
	margin-left: -10%;
}

.navbar-nav > li > a {
	color: #f8f8f8;
}

.navbar-default .navbar-nav > li > a {
    color: #f8f8f8;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #f8f8f8;
    background-color: #e7e7e7;
}

.navbar-nav > li.active > a {
	background-color: #DAA82D !important;
	border-top: 3px solid #f8f8f8;
	padding-top: 12px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f8f8f8;
    background-color: transparent;
}

.navbar-default2 {
    background-color: #fff;
    border-color: #DAA82D;
}

.nav_scroll {
	font-size: 12px;
	font-variant: bold;
}

.nav_site {
	height: 170px;	
	font-size: 14px;
	background: url(../img/santuario2.png);
}

.nav_site2 {
	width: 100%;
	font-size: 12px;
	background-color: #DAA82D;
}

.nav_large {
	background-color: #DAA82D;
	display: none;
}

.navbar-toggle {
	margin-top: 25px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #DAA82D;
    background-color: #f8f8f8;
}

.navbar-nav > li > a:focus > a {
	color: #DAA82D !important;
	background-color: #f8f8f8 !important;
}

.navbar-nav > li > a:hover {
	color: #DAA82D !important;
	background-color: #f8f8f8 !important;
}

.caret > a:focus{
	color: #DAA82D;
}

/* ----------------------------------------
    Fim NavBar Site
---------------------------------------- */

/* ----------------------------------------
    NavBar Admin
---------------------------------------- */

.nav_admin {
	background-color: #337AB7;
}

.navbar-nav.navbar-right  {
	padding: 15px;
	font-size: 1.3em;
	background-color: #337AB7;
}

.navbar-nav.navbar-right > li > a:hover {
    color: #337AB7 !important;
    background-color: #f8f8f8 !important;
}

/* ----------------------------------------
    Fim NavBar Admin
---------------------------------------- */

/* ----------------------------------------
    Dropdown-menu
---------------------------------------- */

.dropdown-menu {
	background-color: #DAA82D;
}

.dropdown-menu > li > a {
	color: #f8f8f8;
	font-size: 16px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #DAA82D;
    text-decoration: none;
    background-color: #f8f8f8;
}

ul.nav li.dropdown:hover ul.dropdown-menu { 
    display: block; 
}


/* ----------------------------------------
    Fim dropdown-menu
---------------------------------------- */

/* ----------------------------------------
    scrollUp
---------------------------------------- */

/* Image style */
#scrollUp {
    background-image: url(../img/top2.png) ;
    bottom: 20px;
    right: 20px;
    width: 38px;    /* Width of image */
    height: 38px;   /* Height of image */
}

/* ----------------------------------------
    Fim scrollUp
---------------------------------------- */

/* ----------------------------------------
    Outros
---------------------------------------- */

body {
  font-family: Bebas Neue !important;
}

.hr {
  border-top: 2px solid #DAA82D;
  margin-top: 5px;
  margin-bottom: 20px;
}

.hr2 {
  border-top: 2px solid #DAA82D;
  margin-top: 5px;
  margin-bottom: 10px;
}

.h3 {
  color: #721204;
  display: inline;
  padding-left: 5px;
}

.h3jornal {
  color: #721204;
  display: inline;
  padding-left: 10px;
}

.espacoTopo {
	padding-top: 10px;
}

.espacoTopo2 {
	padding-top: 10px;
}

.margin {
	margin-top: 220px;
}

.margin_admin {
	margin-top: 100px;
}

.margin_semSlide {
  margin-top: 160px;
}

.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

.cinza {
	font-size: 20px;
	padding-left: 15px;
	padding-right: 15px;
	color: #222;
}

.btnTodosEv {
  color: #f8f8f8;
  background-color: #DAA82D;
  margin-top: 2%;
  font-size: 20px;
  float: right;
}

.btnTodosEv:hover {
  color: #DAA82D;
  background-color: #f8f8f8;
  border-color: #DAA82D;
}

.linkTitulos {
  text-decoration: none !important;
}

.actions2 {
  float: right;
  margin-right: 200px;
}


/* ----------------------------------------
    Fim Outros
---------------------------------------- */

/* ----------------------------------------
    Footer
---------------------------------------- */

#foot {
  background-color: #721204;
  padding: 40px 0 10px 0;
}

#footerRow {
  color: #f8f8f8;
  border-top: solid 2px;
  padding-top: 15px;
}

/* ----------------------------------------
    Fim Footer
---------------------------------------- */


/* ----------------------------------------
	Início Css para cards
---------------------------------------- */

.divNoticia {
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 0px;
  width: 28%;
}

.divNoticia.p {
  padding-right: 0;
  padding-left: 0;
}

.noticia {
  background-color: white;
  overflow: hidden;
  box-shadow: 1px 1px 5px #424242;
  height: 300px;
  transition: all 0.5s ease 0s;
}

.noticia:hover {
  transform: scale(1.05);
  z-index: 10;
  transition-duration: 500ms;
}

.noticia.agenda{
  padding-bottom: 0px;
  height: 250px;
}

.noticia_foto:hover {
  text-decoration: none;
}

.menor {
  color: #424242; 
  padding-right: 10px;
  padding-left: 10px;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 12px;
}

.menor_detalhe {
  font-size: 18px;
  color: #721204;
}

/* ----------------------------------------
	Fim Css para cards
---------------------------------------- */

/* ----------------------------------------
    CSS para screen específica
---------------------------------------- */

@media screen and (max-width: 1400px) {

  .divNoticia {
    width: 33%;
    margin-left: 0px;
  }

  .noticia {
    height: 250px;
    padding-bottom: 20px;
  }

  .menor {
    font-size: 15px;
  }

  .menor_detalhe {
    font-size: 15px;
  }
}

@media screen and (max-width: 1200px){

	.noticia {
    width: 80%;
    margin-left: 10%;
  }

  .noticia.agenda {
    height: 300px;
    width: 100%;
    margin-left: 0;
  }

  .menor {
    font-size: 16px;
  }

  .menor_detalhe {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px){

  span[class*="entypo-"] {
    display: inline;
    position: relative;
    font-size: 1.6em;
    right: 15px;
  }

	.menor {
    font-size: 16px;
    margin-top: 20px;
  }

  .menor_detalhe {
    font-size: 18px;
    margin-top: 10px;
  }

	.noticia {
    width: 100%;
    margin-left: 0;
  } 

  .noticia.agenda {
    height: 350px;
  } 

	.divNoticia.center {
    text-align: center;
    left: 25%;
  }

  .divNoticia {
    width: 33%;
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px){
	.logo {
		width: 109px;
	}
	.nav_site {
		height: 120px;
		font-size: 14px;
		background: url(../img/santuario5.png);
	}
	.navbar-nav > li.active > a {
		background-color: #DAA82D;
		border-top: 0px solid #f8f8f8;
	}
	.espacoTopo {
		padding-top: 0px;
	}
	.dropdown-menu > li > a {
		color: #f8f8f8 !important;
	}

	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	    color: #DAA82D !important;
	    text-decoration: none;
	    background-color: #f8f8f8 !important;
	}
	.margin {
		margin-top: 150px;
	}

  .divNoticia.center {
    text-align: center;
    left: 0;
  }

  .divNoticia {
  	padding-right: 15%;
  	padding-left: 15%;
    width: 100%;
    margin-left: 0px;
  }

  .noticia {
    width: 70%;
    margin-left: 15%;    
  }

  .noticia.agenda {
  	height: 450px;
  }

  .menor {
    margin-top: 30px;
    font-size: 22px;
  }

  .menor_detalhe {
    margin-top: 10px;
    font-size: 18px;
  }
}

@media screen and (max-width: 480px){
	.noticia {
    width: 100%;
    margin-left: 0%;
  }

  .noticia.agenda {
  	height: 320px;
  }

  .divNoticia {
    padding-right: 15%;
    padding-left: 15%;
    width: 100%;
    margin-left: 0px;
  }

  .menor {
    margin-top: 15px;
    font-size: 18px;
  }

  .menor_detalhe {
    margin-top: 5px;
    font-size: 16px;
  }
}

@media screen and (max-width: 360px){

  .divNoticia {
    padding-right: 15%;
    padding-left: 15%;
    width: 100%;
    margin-left: 0px;
  }

	.menor {
		margin-top: 15px;
    font-size: 18px;
  }

  .menor_detalhe {
    margin-top: 5px;
    font-size: 16px;
  }

  .noticia.agenda {
  	height: 300px;
  }
}

/* ----------------------------------------
    Fim CSS para screen específica
---------------------------------------- */
